body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}

#zegar{
    margin-left: 1450px;
    color:#000;
    position: relative;
    top: 30px;
	border: solid;
    width: 60px;
	text-align: center;
	background-color: white;
 }
#menu{

    margin-top: -10px;
    margin-left: -10px;
    position: fixed;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    
}

#logowanie
{
	margin-left: 1440px;
    color:#000;
	position: relative;
	width: 80px;
	height: 20px;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	text-align: center;
	top: -20px;
	border: solid;
}

/*=================================*/ /*MENU*/ /*=================================*/
ol 
{
	list-style-type:none;
    font-size:16px;
    height:2em;
    line-height:2em;
	text-align:center;
    margin-top: 20px;
    margin-left: 60px;
}

#dm
{
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	width: 100px;
    position: relative;
    margin-left:0px ;
    margin-right: 0px;
    
}

ol a 
{
    display:block;
    text-decoration:none;
    color:#000;
    padding:0 5px;
}

ol > li 
{
    float:left;
    width:180px;
    margin-left:1px;
    height:2em;
}

ol > li:hover 
{
    background-color: #C6E1E4;
}

ol > li:hover > ul 
{
    display:block;
}

ol > li > ul 
{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li > ul > li 
{
    position:relative;
    background-color:#EEE;
}

ol > li > ul > li:hover > a 
{
    color:#09C;
}

/*=================================*/ /*DARK MODE SWITCH*/ /*=================================*/

.switch 
{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-top: 4px;
  margin-left: -215px;

  
}

.slider 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CBDED0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before 
{
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider 
{
  background-color: #208338;
}

input:checked + .slider:before 
{
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round 
{
  border-radius: 34px;
}

.slider.round:before 
{
  border-radius: 50%;
}

/*=================================*/ /*BMI*/ /*=================================*/
.in
{
	margin-top: 10px;
	display: block;
	text-align: right;
	width: 128px;
}

.bmi
{
	float: left;
	width: 140px;
	display: block;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

fieldset {
	width: 300px;
	margin: 25px 0 0 50px;
	border: 1px solid #999999;
}

button {
	margin-left: 150px;
}

#bmi_label {
	width: 200px;
}

#bmi {
	width: 66px;
}

#intro {
	width: 300px;
	margin: 25px 0 0 50px;
	padding: 10px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
}
#box{
    
    width: 200px;
    height: 200px;
    background-color: red;
}

/*=================================*/ /*SKLEP*/ /*=================================*/

a.Zdjecie{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #333;
	width: 250px;
	border: 1px solid #BFBFBF;
	background-color: white;
	z-index: 2;
	list-style-type: none;
}

a.Zdjecie:hover{
	z-index: 100;
	border-color: #6A6A6A;
	transform: rotate(0deg);
	opacity: 100%;
	transform: scale(1.5);
}

.Zdjecie img{
	width: 250px;
	height: 250px;
}
	
a img{
	border: none;
	display: block;
}

.album
{
	display: flex;
	margin-left: 120px;
}

/*=================================*/ /*SEARCH*/ /*=================================*/

#searchbar
{
	margin-top: 100px;
	margin-bottom: 60px;
    margin-left: 10%;
    padding:15px;
    border-radius: 10px;
}
 
input[type=text] 
{
    width: 30%;
}

#list
{
    margin-left: 90px;
	list-style-type: none;
}
 