#del
{
	margin-top: 200px;
}

.shop
{
	position: fixed;
	left: 1380px;
}

.home
{
	position: fixed;
	top: 10px;
	left: 10px;
}

body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}

#zegar{
    margin-left: 1450px;
    color:#000;
    position: fixed;
    top: 30px;
	border: solid;
    width: 60px;
	text-align: center;
	background-color: white;
 }
#menu{

    margin-top: -10px;
    margin-left: -10px;
    position: fixed;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    
}

#logowanie
{
	margin-left: 1440px;
    color:#000;
	position: relative;
	width: 80px;
	height: 20px;
	text-align: center;
	border: solid;
}

/*=================================*/ /*MENU*/ /*=================================*/
ol 
{
	list-style-type:none;
    font-size:16px;
    height:2em;
    line-height:2em;
	text-align:center;
    margin-top: 20px;
    margin-left: 60px;
}

#dm
{
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	width: 100px;
    position: relative;
    margin-left:0px ;
    margin-right: 0px;
    
}

ol a 
{
    display:block;
    text-decoration:none;
    color:#000;
    padding:0 5px;
}

ol > li 
{
    float:left;
    width:180px;
    margin-left:1px;
    height:2em;
}

ol > li:hover 
{
    background-color: #C6E1E4;
}

ol > li:hover > ul 
{
    display:block;
}

ol > li > ul 
{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol > li > ul > li 
{
    position:relative;
    background-color:#EEE;
}

ol > li > ul > li:hover > a 
{
    color:#09C;
}

/*=================================*/ /*DARK MODE SWITCH*/ /*=================================*/

.switch 
{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-top: 4px;
  margin-left: -215px;
}

.slider 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CBDED0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before 
{
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider 
{
  background-color: #208338;
}

input:checked + .slider:before 
{
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round 
{
  border-radius: 34px;
}

.slider.round:before 
{
  border-radius: 50%;
}

/*=================================*/ /*BMI*/ /*=================================*/
.in
{
	margin-top: 150px;
	display: block;
	text-align: right;
	width: 128px;
}

.bmi
{
	float: left;
	width: 140px;
	display: block;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

fieldset {
	width: 300px;
	margin: 25px 0 0 50px;
	border: 1px solid #999999;
	background-color: #E9EBF0;
}

button {
	margin-left: 120px;
}

#bmi_label {
	width: 200px;
}

#bmi {
	width: 66px;
}

#intro {
	width: 300px;
	margin: 25px 0 0 50px;
	padding: 10px;
	border: 1px solid #999999;
	box-shadow: 1px 1px #cccccc;
	background-color: #E9EBF0;
}
#box{
    
    width: 200px;
    height: 200px;
    background-color: red;
}

#b
{
	margin-top: 70px;
}

/*=================================*/ /*SKLEP*/ /*=================================*/

a.Zdjecie{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #333;
	width: 250px;
	border: 1px solid #BFBFBF;
	background-color: white;
	z-index: 2;
	list-style-type: none;
}

a.Zdjecie:hover{
	z-index: 100;
	border-color: #6A6A6A;
	transform: rotate(0deg);
	opacity: 100%;
	transform: scale(1.5);
}

.Zdjecie img{
	width: 250px;
	height: 250px;
}
	
a img{
	border: none;
	display: block;
}

.album
{
	display: flex;
	margin-left: 120px;
}

/*=================================*/ /*SEARCH*/ /*=================================*/

#searchbar
{
	margin-top: 100px;
	margin-bottom: 60px;
    margin-left: 10%;
    padding:15px;
    border-radius: 10px;
	width: 500px;
}
 
input[type=text] 
{
    width: 30%;
}

#list
{
    margin-top: 100px;
    position: relative;
    margin-left: 90px;
	list-style-type: none;
    margin: auto;
}

/*=================================*/ /*LOG*/ /*=================================*/

 #log{

    width: 400px;
    height: 400px;
    text-align: center;
    border:solid;
   

 }
 #log{

    margin-top: 50px;
    margin-left: 600px;

 }
#name{

    width: 200px;
    height: 30px;
    margin-bottom: 20px;

}
#passwd{

    width: 200px;
    height: 30px;
    margin-bottom: 20px;

}
#przycisk_login{

    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 0px;

}

/*=================================*/ /*PLANY*/ /*=================================*/

#plany{
    
    margin-left: 300px;
    margin-top: 70px;

}
table{

    width: 800px;
    height: 300px;

}
#naglowek2{
    margin-left: 100px;
}
tr{

    background-color: #3f97e3;

}
#wybor{

    width: 800px;
    margin-left: 0px;
    margin-top: 20px;
    height: 40px;

}
input[type=radio] {
    border: 0px;
    width: 25px;
    height: 20px;
    margin-top: 2px;
}

/*=================================*/ /*SILOWNIA*/ /*=================================*/

a.Zdjecie1{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #333;
	width: 250px;
	border: 1px solid #BFBFBF;
	background-color: white;
	z-index: 2;
	list-style-type: none;
	font-weight: bold;
	text-align: center;
}

a.Zdjecie1:hover{
	z-index: 100;
	border-color: #6A6A6A;
	transform: rotate(0deg);
	opacity: 100%;
	transform: scale(1.5);
}

.Zdjecie1 img{
	width: 250px;
	height: 250px;
}
	
a img{
	border: none;
	display: block;
}

.album1
{
	display: flex;
	margin-left: 120px;
	margin-top: 100px;
}

/*=================================*/ /*KONTAKT*/ /*=================================*/

input[type=text], textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.kontakt {
  border-radius: 5px;
  background-color: #ccc;
  padding: 20px;
  width: 800px;
  margin-left: 300px;
  margin-top: 80px;
}

/*=================================*/ /*ALBUM*/ /*=================================*/

.plecy
{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.plecy1
{
	margin-right: 50px;
	padding: 10px;
}

.zdjbody
{
	background-color: white;
	background-image: none;
}

.ple
{
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}

.plecy2
{
	margin-top: 50px;
}

/*=================================*/ /*DOM*/ /*=================================*/

.dom
{
    margin-top: 100px;
    margin-left: 130px;
    width: 80%;
    background-color: white; 
}

.domintro
{
	text-align: center;
}

.wejscie
{
	padding: 10px;
}